body {
    background-color: #403963;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

table {
    margin: auto;
    color: #f96d00;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}

tr > * {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 30px;
}

th {
    font-weight: bold;
    background-color: #222831;
}

tr:nth-child(even) > td {
  background-color: #f2f2f2;
}

tr:nth-child(odd) > td {
  background-color: #393e46;
}

#add-book {
    margin: auto;
    padding: 10px 30px;
    font-weight: bold;
    color: #f96d00;
    background-color: #222831;
    border-radius: 10px;
}